{% load static %}
<header>
    <nav class="navbar">
      <div class="navbar-brand">
        <img src="{% static 'images/logo.webp' %}" alt="Brand Icon" class="navbar-icon">
      </div>
      <div class="navbar-menu" id="navbar-menu">
        <a href="#" class="navbar-link">Home</a>
        <a href="#" class="navbar-link">About</a>
        <a href="#" class="navbar-link">Contact</a>
      </div>
      <button class="navbar-toggle" id="navbar-toggle" aria-label="Toggle navigation">
        ☰
      </button>
    </nav>
</header>